@charset "UTF-8";
* { margin: 0; padding: 0; font-family: 'Noto Sans KR'; } 

body { background-color: #fcfcfc; display: flex; justify-content: center; align-items: center; } 

ul,
li { margin: 0; padding: 0; list-style: none; letter-spacing: -0.6px; } 

a,
a:visited,
p { text-decoration: none; color: #000; letter-spacing: -0.6px; } 

h3 { font-weight: 550; } 

#wrap { width: 100%; } 

/* ======================================================
 header
=========================================================*/
#wrap header { top: 0; left: 0; width: 100%; height: 60px; font-size: 20px; position: relative; background-color: #fff; position: fixed; z-index: 999; } 

/* pc menu */
#wrap header .nav .p_menu { max-width: 1120px; height: 60px;
 margin: 0 auto; display: flex; font-size: 20px; color: #000; } 

#wrap header .nav .p_menu .logo a img { margin-top: 19px; width: 139px;}

#wrap header .nav .p_menu_list {
 display: flex; gap: 30px; margin: 0 auto; font-weight: 500;
 width: 315px; height: 60px; text-align: center; } 

#wrap header .nav .p_menu_list li {
 width: 55px; height: auto; margin-top: 15px; } 

#wrap header .nav .p_menu_list li a:hover,
#wrap header .nav .p_menu_list li a:focus { color: #3478FF; } 

#wrap header .nav .icon { margin-top: 19px; display: flex; gap: 30px;}

#wrap header .nav .icon a { cursor: pointer;}

:root { --button-background: #3478FF; --dropdown-highlight: #3478FF; --dropdown-width: 160px; --dropdown-background: white; } 


.dropdown { position: relative; padding: 0; border: none; } 

.dropdown summary { list-style: none; list-style-type: none; } 

.dropdown summary:focus .sideMenuBtn { border: 2px solid white; } 

.dropdown ul { position: absolute; margin: 20px 0 0 0; padding: 20px 0; width: var(--dropdown-width); left: 50%; margin-left: calc((var(--dropdown-width) / 2) * -1.87); box-sizing: border-box; z-index: 2; background: var(--dropdown-background); border-radius: 10px; list-style: none; border: 1px solid #EBEBEB; } 

.dropdown ul li { padding: 0; margin: 0; font-size: 15px;}

.dropdown ul li:nth-child(1) img { padding-top: 10px; } 

.dropdown ul li:nth-child(2) { margin: 20px 0; } 

hr { border: 0px; border-top: 1px solid #EBEBEB; } 

.dropdown ul li a:link,
.dropdown ul li a:visited { display: inline-block; padding: 10px 20px 10px 20px; width: 100%; box-sizing: border-box; } 

.dropdown ul li a:hover { background-color: var(--dropdown-highlight); color: var(--dropdown-background); } 

.dropdown>summary::before { display: none; } 

.dropdown[open]>summary::before { content: ' '; display: block; position: fixed; top: 0; right: 0; left: 0; bottom: 0; z-index: 1; } 

/* mobile menu */
#wrap header .m_menu { width: 100%; height: 90px; position: fixed; margin: 0 auto; background-color: #fff; display: none;}

#wrap header .m_menu .m_right_menu { display: flex; justify-content: space-between; height: 90px;
 padding: 0 20px; } 

#wrap header .m_menu .m_logo a img { margin-top: 32px; width: 165px;}

#wrap header .m_menu .m_icon { display: flex; gap: 30px; width: 202px; margin-top: 21px;}

#wrap header .m_menu .m_icon a img { width: 48px; height: 48px; cursor: pointer; } 

/* mobile side menu */

.black_bg { position: fixed; z-index: 9999999; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); display: none; } 

.m_side_bar { position: fixed; z-index: 99999999; display: none; background-color: #fff; width: 60%; right: 0; height: 100%; /* margin-top: -90px; */}

/* X버튼 */
.m_side_bar .closeBtn { width: 48px; height: 48px; float: right; margin-right: 20px; } 

.m_side_bar .closeBtn a { margin-top: 20px; display: block;}

.m_side_bar .m_profile { font-size: 28px; margin: 90px auto 30px 60px; } 

.m_side_bar li {
 margin-top: 40px; margin-left: 60px; font-size: 1.6em; z-index: 99999; line-height: 0.5; } 

.m_side_bar li a { display: block; color: #333; text-align: left; } 

.box_menu { background-color: #EBEBEB; line-height: 0.5; padding: 20px 0; margin-top: 30px; } 

/* ======================================================
 main
=========================================================*/

main { position: relative; } 

/* 클릭시 최상단으로 이동 */
main .btnTop { position: fixed; right: 30px; bottom: 30px; display: none; z-index: 999; } 

main .btnTop img { border-radius: 50px; background-color: #fff; border: 1px solid #3478FF; padding: 7px; } 


/* 메인 슬라이드 */

#main_slides { position: relative; width: 100%; } 

.slide-wrapper-pc .swiper { height: 456px; width: 100%; background-color: #ddd; margin: 0 auto; margin-top: 60px; } 

.slide-wrapper-pc .swiper-slide:nth-child(1) { background: #8400D0 url("../images/banner1.png")no-repeat center; } 

.slide-wrapper-pc .swiper-slide:nth-child(2) { background: #003C84 url("../images/banner2.png")no-repeat center; } 

.slide-wrapper-pc .swiper-slide:nth-child(3) { background: #FFCCD2 url("../images/banner3.png")no-repeat center; } 

.slide-wrapper-pc .swiper-slide:nth-child(4) { background: #FFFF00 url("../images/banner4.png")no-repeat center; } 

/* 메인 슬라이드 - mobile */

.slide-wrapper-mobile .swiper { display: none; height: 313px; width: 100%; background-color: #ddd; margin: 0 auto; margin-top: 90px; } 

.slide-wrapper-mobile .swiper-slide:nth-child(1) { background: url("../images/banner_m1.png")no-repeat center; } 

.slide-wrapper-mobile .swiper-slide:nth-child(2) { background: url("../images/banner_m2.png")no-repeat center; } 

.slide-wrapper-mobile .swiper-slide:nth-child(3) { background: url("../images/banner_m3.png")no-repeat center; } 

.slide-wrapper-mobile .swiper-slide:nth-child(4) { background: url("../images/banner_m4.png")no-repeat center; } 

/* 이전 다음 화살표 */
div.swiper-button-prev { position: absolute; left: 5%; color: #ffffff; text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.20)}

div.swiper-button-next { position: absolute; right: 5%; color: #ffffff; text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.20)}

.swiper-pagination { height: 50px; } 

/* 인디케이터 스타일 변경 */

/* 기본 인디케이터 스타일 */
.swiper-pagination.slides-pagenation .swiper-pagination-bullet { width: 12px; height: 12px; background-color: rgba(0, 0, 0, 0.8); } 

/* 선택된 인디케이터 스타일 */
.swiper-pagination.slides-pagenation .swiper-pagination-bullet-active { width: 40px; height: 12px; border-radius: 50px; background-color: #ffffff; transition: width 0.5s; } 

/* 실시간 인기 태그 + 나의 관심 태그 */

#tagBoxSet { position: relative; width: 100%; height: auto; } 

#tagBoxSet .tagBox-wrapper { max-width: 1120px; height: auto; margin: 0 auto; margin-top: 40px; display: flex; flex-wrap: wrap; justify-content: space-between; gap: 20px; width: 100%; } 

/* 2단 설정 */
#tagBoxSet .tagBox-wrapper .tagBox { width: calc(50% - 10px); height: auto; margin: 0 auto; } 

#tagBoxSet .tagBox-wrapper .tagBox .box { display: flex; background-color: #fff; border: 1px solid #3478FF; border-radius: 10px; margin-top: 20px; flex-wrap: wrap;}

#tagBoxSet .tagBox-wrapper .tagBox .box .tag-wrapper { padding: 20px; display: flex; flex-wrap: wrap; gap: 10px; } 

#tagBoxSet .tagBox-wrapper .tagBox .box .tag-wrapper a { height: 24px; background-color: #EBEBEB; color: #7C7C7C; font-weight: 500; border-radius: 30px; padding: 2px 10px;}

/* 구독 업데이트 */

#subscribe { position: relative; width: 100%; height: auto; margin-top: 60px; } 

.subscribe-inner { margin-top: 20px; position: relative; height: auto; overflow: hidden; padding: 0 20px; max-width: 1120px; width: 97%; margin: 0 auto; } 

.slick-slider { margin-left: -10px; margin-right: -10px; } 

.slick-list { clip-path: inset(0 10px 0 10px); margin: 0; padding: 0; } 

.slick-slide { margin-left: 10px; margin-right: 10px; } 

.slider-item { width: 100%; height: auto; } 

.slider-item .thumnailBox { cursor: pointer; width: 100%; } 

.slider-item .thumnailBox img { width: 100%; } 

.slider-item .title p { font-size: 17px; font-weight: 500; margin: 10px 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; cursor: pointer; width: 100%; } 

.slider-item .info { display: flex; justify-content: space-between; width: 100%; } 

.slider-item .info .author { display: flex; gap: 7px; cursor: pointer; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; } 

.slider-item .info .date p { color: #969696; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; } 

.slider-item .tags ul { margin-top: 20px; display: flex; flex-wrap: wrap; overflow: hidden; gap: 10px; width: 100%; height: 30px; } 

.slider-item .tags ul li { background-color: #EBEBEB; color: #7C7C7C; font-size: 16px; font-weight: 400; border-radius: 30px; padding: 2px 10px; cursor: pointer; } 

/* 이런 콘텐츠는 어떠세요? */

#recommend { position: relative; width: 100%; height: auto; margin-top: 60px; } 

.recommend_inner { margin-top: 20px; position: relative; height: auto; overflow: hidden; padding: 0 20px; max-width: 1120px; width: 100%; margin: 0 auto; } 

#recommend .box-wrapper { max-width: 1120px; height: auto; margin: 0 auto; margin-top: 20px; display: flex; flex-wrap: wrap; justify-content: space-between; gap: 20px; width: 100%; } 

/* 2단 설정 */
#recommend .box-wrapper .box-item { width: calc(50% - 10px); height: auto; margin: 0 auto; } 

#recommend .box-wrapper .box-item .box-inner { display: flex; justify-content: space-between; background-color: #fff; border: 1px solid #EBEBEB; border-radius: 10px; padding: 20px; } 

.box-item .text { width: 100%; height: 180px; margin-right: 20px; } 

.box-item .text .title { font-size: 17px; font-weight: 500; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%; } 

.box-item .text .author { margin: 10px 0; font-size: 16px; } 

.box-item .text .contents { width: 100%; height: 50px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; } 

.box-item .text .contents a { font-size: 16px; color: #7C7C7C; } 

.box-item .text .tags { margin-top: 34px; display: flex; gap: 10px; flex-wrap: wrap; overflow: hidden; width: 100%; height: 30px; } 

.box-item .text .tags a { background-color: #EBEBEB; color: #7C7C7C; font-size: 16px; font-weight: 400; border-radius: 30px; padding: 2px 10px; } 

.box-item .thumnailBox { width: 200px; } 

.box-item .thumnailBox img { width: 100%; } 

/* 새로고침, 더보기 버튼 */

.btnBox { margin-top: 40px; } 

.btnBox .btn { width: 177px; height: 38px; background-color: #fff; border: 1px solid #3478FF; border-radius: 30px; margin: 0 auto; cursor: pointer; } 

.btnBox .btn a { display: flex; width: 104px; height: 24px; justify-content: space-evenly; gap: 12px; margin: 6px 36px 7px 37px; font-size: 18px; color: #3478FF; } 

.btnBox .btn a span.material-symbols-rounded { margin-top: 2px; font-weight: 300; } 

/* 오늘 인기 포스트 */

#bestposts { position: relative; width: 100%; height: auto; margin-top: 60px; } 

.bestposts-inner { margin-top: 20px; position: relative; height: auto; overflow: hidden; padding: 0 20px; max-width: 1120px; width: 100%; margin: 0 auto; } 

/* 테마 */
.theme ul { margin-top: 20px; display: flex; align-items: center; gap: 15px; } 

.theme ul li { height: 26px; background-color: #fff; color: #3478FF; font-size: 17px; font-weight: 400; border: 1px solid #3478FF; border-radius: 30px; padding: 3px 12px 5px; display: flex; align-items: center; cursor: pointer; } 

.theme ul li:nth-child(7) { background-color: #3478FF; } 

.theme ul li a img { margin-top: 6px; } 

.theme ul li:hover,
.theme ul li:focus { background-color: #3478FF; color: #fff; } 



/* 게시물 */
.post-list { margin-top: 20px; position: relative; max-width: 1120px; width: 100%; height: 330px; margin: 0 auto; display: flex; justify-content: space-between; gap: 13px; } 

/* 4단 설정 */
.post-item { width: calc(25% - 10px); height: auto; margin: 0 auto; margin-top: 20px;}

.post-item .thumnailBox { cursor: pointer; width: 100%; } 

.post-item .thumnailBox img { width: 100%; } 

.post-item .text .title p { margin: 10px 0; font-size: 17px; font-weight: 500; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; cursor: pointer; width: 100%; } 

.post-item .text { width: 100%; } 

.post-item .text .author { font-size: 16px; cursor: pointer; } 

.post-item .text .tags ul { margin-top: 15px; display: flex; width: 100%; gap: 10px; height: 30px; flex-wrap: wrap; overflow: hidden; } 

.post-item .text .tags ul li { background-color: #EBEBEB; color: #7C7C7C; font-size: 16px; font-weight: 400; border-radius: 30px; padding: 2px 10px; cursor: pointer; } 

/* 새로 나온 포스트 */

#newposts { position: relative; width: 1120px; height: 494px; margin: 0 auto; margin-top: 60px; } 

/* 컬렉션 */

#collection { position: relative; width: 1120px; height: 578px; margin: 0 auto; margin-top: 60px; } 

#collection .center-slider { margin-top: 20px; display: flex; gap: 20px; } 

.center-item .thumnailBox { cursor: pointer; width: 243px; } 

.center-item .title { font-size: 17px; font-weight: 500; margin: 15px 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; cursor: pointer; } 

.center-item .text { width: 243px; } 

.center-item .info p { font-size: 16px; color: #7C7C7C; } 

/* 스토어 */

#store { position: relative; width: 1120px; height: 387px; margin: 0 auto; margin-top: 60px; } 

#store .post-list { height: 260px; } 

#store .post-list .author { display: flex; gap: 7px; cursor: pointer; } 

/* ======================================================
 footer
=========================================================*/

footer { position: relative; } 

.innerFooter { width: 100%; background-color: #EBEBEB; height: 320px; } 

.innerFooter .info-wrapper { width: 1120px; padding: 60px 0 60px; margin: 0 auto; margin-top: 60px; display: flex; justify-content: space-between; } 

.innerFooter .left-info { width: 500px; } 

.innerFooter .left-info .menu ul { width: 800px; display: flex; flex-wrap: wrap; margin-left: 0; gap: 15px; } 

.innerFooter .left-info .menu ul li { cursor: pointer; font-size: 17px; } 

.innerFooter .left-info .postype-info ul { width: 400px; display: flex; flex-wrap: wrap; word-wrap: break-word; gap: 3px 15px; margin-top: 40px; } 

.innerFooter .left-info .postype-info ul li { font-size: 15px; color: #7C7C7C; } 

.innerFooter .left-info .postype-info ul li:nth-child(2n) { position: relative; margin-left: -10px; padding-left: 5px; } 

.innerFooter .left-info .postype-info ul li:nth-child(2n)::after { position: absolute; left: 0; top: 3px; content: ""; width: 1px; height: 15px; background-color: #7C7C7C; } 

.innerFooter .left-info .notice { margin-top: 15px; text-align: center; } 

.innerFooter .left-info .notice p { font-size: 15px; color: #7C7C7C; text-align-last: left; line-height: 1.6; } 

.innerFooter .right-info { width: 200px; } 

.innerFooter .right-info .site { float: right; display: flex; width: 82px; gap: 5px; } 

.innerFooter .right-info p { margin-top: 55px; text-align: right; } 

/* mobile */
@media(max-width:768px) { * { margin: 0; padding: 0; } 

 /* header */
 #wrap header .nav .p_menu,
 .slide-wrapper-pc .swiper { display: none; } 

 #wrap header .m_menu,
 .slide-wrapper-mobile .swiper { display: block; } 

 /* 실시간 인기 태그 + 나의 관심 태그 */

 #tagBoxSet .tagBox-wrapper,
 #recommend .recommend_inner { width: 94%; } 

 /* 1단 설정 */
 #tagBoxSet .tagBox-wrapper .tagBox,
 #tagBoxSet .tagBox-wrapper .tagBox .box,
 #recommend .box-wrapper .box-item,
 #recommend .box-wrapper .box-item .box-inner { width: 100%; } 
 }

/* tablet */
@media(max-width:1160px) {
 /* header */

 #wrap header .nav .p_menu { width: 97%; padding: 0 20px; } 

 .black_bg,
 .m_side_bar { display: none; } 

 /* 실시간 인기 태그 + 나의 관심 태그 */

 #tagBoxSet .tagBox-wrapper,
 #recommend .recommend_inner { width: 97%; padding: 0 20px; } 

 /* 오늘 인기 포스트 */
 /* 3단 설정 */
 .post-list { flex-wrap: wrap; overflow: hidden; } 

 .post-item { width: calc(33.3% - 10px); min-height: 150px; flex-basis: 23.5%; flex-shrink: 1; flex-grow: 1; } 
}